<p>
  <b>Team:</b>
  <%=h @users_team.team %>
</p>

<p>
  <b>User:</b>
  <%=h @users_team.user %>
</p>


<%= link_to 'Edit', edit_users_team_path(@users_team) %> |
<%= link_to 'Back', users_teams_path %>