<p style="font-weight:bold">Welcome to InterEthos!</p>


<p style="font-weight:bold">Goal</p>

Create a common repository where taxonomies can be

   1. shared across different internet applications and/or
   2. cross-referenced with other taxonomies.

<p>&nbsp;</p>

<p style="font-weight:bold">Description of Proposed Feature Set</p>
<ol>
   <li>Users can share, cross-reference and/or internationalize taxonomies.</li>
   <li>Websites can utilize common taxonomy categories to (classify and) share their data to searches done on third-party sites.</li>
   <li>Meta data can be assigned to each "leaf" of taxonomies enabling users to more easily search.</li>
   <li>Internationalization (ie. language translation) of taxonomy categories and meta data into an unlimited number of languages (i.e. Content on an English site can be searched upon with Spanish or Swahili terms, etc).</li>
   <li>Sophistacated XML integrations.</li>
   <li>System logins for "owners" and "trusted editors" of taxonomies will provide a "trail" of who made what modifications, as well as a structured team approval process.</li>
   <li>Privacy settings to define who can use different taxonomies, and for what purposes.</li>
   <li>Users register their use of a particular taxonomy, so that people interested in mining content indexed under the leaves of that taxonomy will have a ready-made list of sites where they will find the taxonomy used.</li>
   <li>Versioning of shared taxonomies will allow them to be modified over time, while allowing users of older versions to know how their versions differ.</li>
   <li>System customizations enable different kinds of taxonomies to be handled in different ways (i.e. maintaining taxonomies used to classify the human gnome, or biological diversity, requires much different handling than maintaining taxonomies about non-profit business structures).</li>

</ol>


<p style="font-weight:bold">Contact Info:</p>
Josh Shortlidge | <a href="http://swithin.com">http://swithin.com (and click on the logo!)</a> | 781-724-1326 | 132 Bay State Road, Melrose, MA 02176

