<p style="font-weight:bold">Welcome to InterEthos!</p>


<p><strong>Mission</strong>
	<blockquote>Create and maintain a common catalog about collections of data and content, so that those collections can be more easily accessed by internet users. The cataloging will be done via the sharing and cross-referencing of Ontologies (a.k.a. taxonomies), as well as via the internationalization of same. The collections cataloged will primarily focus of the human services sector.</blockquote>
</p>

<p>&nbsp;</p>
<% if !authorized? %>
	<p><strong>Demo Login:</strong>
		<blockquote>To take a peek, you can access the system via "username=<strong>test</strong>" and "password=<strong>tester</strong>". Or you can <a href="/signup" title="Sign Up">create your own login and start using InterEthos right now</a>.</blockquote>
	</p>
	<p>&nbsp;</p>
<% else %>
	<% if self.current_user.email == "test@interethos.net" %>
		<p><strong>Register when ready to sign up:</strong>
			<blockquote>You can <a href="/signup" title="Sign Up">create your own login and start using InterEthos right now</a>.</blockquote>
		</p>
		<p>&nbsp;</p>
	<% end %>
<% end %>

<p style="font-weight:bold">Description of Proposed Feature Set</p>
<ol>
   <li>Users can share their data sets.</li>
   <li>Users can cross-reference and internationalize the ontologies used to index those data sets.</li>
   <li>"Master Ontology" categories will allow users to classify their data sets with common category terms, so as to enhance the accessibility of those data sets via third-party applications.</li>
   <li>Meta data can be assigned to each "leaf" of ontologies enabling users to more easily search.</li>
   <li>Users can internationalize (ie. language translation) their ontology categories and meta data into an unlimited number of languages, so that content on a single-language site (ex. English) can be found with search terms from other languages (ex. Spanish, Swahili, etc).</li>
   <li>Sophistacated XML outputs (if you don't find what you need, then please ask).</li>
   <li>System logins for "owners" and "trusted editors" of ontologies provide a "trail" of who made what modifications, as well as structured team approval processes.</li>
   <li>Privacy settings to define who can access different ontologies and data sets, and for what purposes.</li>
   <li>Users register their use of a particular ontology, so that people interested in mining content indexed under the leaves of that ontology will have a ready-made list of sites where they will find the ontology used.</li>
   <li>Versioning of shared ontologies will allow them to be modified over time, while allowing users of older versions to know how their versions differ.</li>
   <li>System customizations enable different kinds of ontologies to be handled in different ways
		<ol>
			<li type="a">maintaining ontologies used to classify census data requires different handling than maintaining ontologies about non-profit business services, and</li>
			<li type="a">datasets originating in European countries largely use metric measurements, whereas US ones do not, and both can be made interchangable</li>
	   </ol>
	</li>
</ol>


<p style="font-weight:bold">Contact Info:</p>
Josh Shortlidge | <a href="http://swithin.com">http://swithin.com (and click on the logo!)</a> | 781-724-1326 | 132 Bay State Road, Melrose, MA 02176

