<% @title = 'User Collection' %>

<p><b>Collection:</b>
  <%=h @collections_user.collection %></p>

<p><b>User:</b>
  <%=h @collections_user.user %></p>

<%= link_to 'Edit', edit_collections_user_path(@collections_user) %> |
<%= link_to 'Back', collections_users_path %>