<% @title = 'Edit User Ontology' %>

<p>
  <b>Ontology:</b>
  <%=h @ontologies_user.ontology %>
</p>

<p>
  <b>User:</b>
  <%=h @ontologies_user.user %>
</p>


<%= link_to 'Edit', edit_ontologies_user_path(@ontologies_user) %> |
<%= link_to 'Back', ontologies_users_path %>